In [2]:
!curl 'https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/homeprices.csv' -o homeprices.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   352  100   352    0     0   2816      0 --:--:-- --:--:-- --:--:--  2816

In [3]:
import pandas as pd
df=pd.read_csv('/content/homeprices.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [ ]:
ndf=pd.get_dummies(df[['town']])
ndf

    town_monroe township  town_robinsville  town_west windsor
0                      1                 0                  0
1                      1                 0                  0
2                      1                 0                  0
3                      1                 0                  0
4                      1                 0                  0
5                      0                 0                  1
6                      0                 0                  1
7                      0                 0                  1
8                      0                 0                  1
9                      0                 1                  0
10                     0                 1                  0
11                     0                 1                  0
12                     0                 1                  0

In [ ]:
finaldf=df.join(ndf)
finaldf

               town  area  ...  town_robinsville  town_west windsor
0   monroe township  2600  ...                 0                  0
1   monroe township  3000  ...                 0                  0
2   monroe township  3200  ...                 0                  0
3   monroe township  3600  ...                 0                  0
4   monroe township  4000  ...                 0                  0
5      west windsor  2600  ...                 0                  1
6      west windsor  2800  ...                 0                  1
7      west windsor  3300  ...                 0                  1
8      west windsor  3600  ...                 0                  1
9       robinsville  2600  ...                 1                  0
10      robinsville  2900  ...                 1                  0
11      robinsville  3100  ...                 1                  0
12      robinsville  3600  ...                 1                  0

[13 rows x 6 columns]

In [ ]:
df=finaldf.drop(['town','town_west windsor'],axis='columns')
df

    area   price  town_monroe township  town_robinsville
0   2600  550000                     1                 0
1   3000  565000                     1                 0
2   3200  610000                     1                 0
3   3600  680000                     1                 0
4   4000  725000                     1                 0
5   2600  585000                     0                 0
6   2800  615000                     0                 0
7   3300  650000                     0                 0
8   3600  710000                     0                 0
9   2600  575000                     0                 1
10  2900  600000                     0                 1
11  3100  620000                     0                 1
12  3600  695000                     0                 1

In [ ]:
x=df.drop(['price'],axis='columns')
x

    area  town_monroe township  town_robinsville
0   2600                     1                 0
1   3000                     1                 0
2   3200                     1                 0
3   3600                     1                 0
4   4000                     1                 0
5   2600                     0                 0
6   2800                     0                 0
7   3300                     0                 0
8   3600                     0                 0
9   2600                     0                 1
10  2900                     0                 1
11  3100                     0                 1
12  3600                     0                 1

In [ ]:
y=df[['price']]
y

     price
0   550000
1   565000
2   610000
3   680000
4   725000
5   585000
6   615000
7   650000
8   710000
9   575000
10  600000
11  620000
12  695000

In [ ]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()

In [ ]:
lreg.fit(x,y)
lreg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=lreg.predict(x)

In [ ]:
lreg.score(x,y)

0.9573929037221873